body {
	/* padding-top: 60px; /* for fixed navbar */
}

div.hero-unit {
	background-color: #05a9fe;
	padding-bottom: 40px;
	box-shadow: 4px 4px 4px grey;
}

div.hero-logo {
	float: left;
	margin: 0px 40px 0px 30px;
}

div.hero-left {
	float: left;
	margin-bottom: 20px;
}
div.hero-right {
	float: left;
}

div.hero-title {
	float: left;
	margin-right: 10px;
	padding-top: 40px;
}

div.hero-title > h1 {
	font-size: 70px;
}

div.hero-title > p {
	font-size: 14px;
	font-weight: bold;
}

div.hero-right > div.register-box {
    background-color: #eef;
    border-radius: 3px 3px 3px 3px;
    line-height: 40px;
    min-height: 40px;
    text-align: center;
	padding: 15px 15px 0 15px;
	margin: 10px;
	float: right;
	width: 180px;
	box-shadow: 4px 4px 4px grey;
}

div.hero-right > div.register-box > p {
	line-height: 25px;
}

div.hero-right > div.hero-description {
	max-width: 400px;
}

div.hero-right > div.hero-description > p {
	line-height: 20px;
}

div.main-content > ul {
	margin-top: 20px;
}

div.main-content > ul > li {
	font-size: 16px; /* TODO: font size only for index page with keywords! */
	margin-bottom: 10px;
}

footer {
	margin: 40px 0 20px 0;
	font-size: 12px;
	text-align: center;
}

div.main-content > h2 {
	margin-top: 20px;
}

div.main-content > h4 {
	margin-top: 30px;
}

div.main-content:after {
	content: "";
	display: table;
	line-height: 0;
	clear: both;
}

/* profile.html */

div.responsibility {
	float: right;
}

div.responsibility-number {
	width: 65px;
	text-align: right;
	font-size: 50px;
	margin-top: 20px;
}

div.vp-row {
	clear: left;
}

div.vp-left {
	width: 120px;
	float: left;
	margin-right: 10px;
}

div.vp-row-arrow > div.vp-left {
	padding: 10px 0 10px 0;
}

div.vp-row-arrow > div.vp-left > img {
	position: relative;
	left: 50px;
}

div.vp-row-arrow > div.vp-right {
	padding-top: 12px;
}

div.vp-right > h5 {
	padding-top: 5px;
	margin-bottom: 0px;
}

/* vote.html */

/* BEGIN autocomplete / combobox styling */

.ui-button-text {
	padding: 3px 6px;
}

button.ui-button-icon-only {
	margin-top: -9px;
}

/* combo autocomplete styling */

p.ui-option-title {
	font-weight: bold;
	padding: 0px;
	margin: 0px;
}

p.ui-option-title > strong {
	color: #00f;
}

p.ui-option-desc {
	padding: 0px 0px 0px 20px;
	margin: 0px;
	/*max-width: 900px;*/
}

ul.ui-autocomplete {
	max-width: 70%;
}

p.ui-option-delimiter {
	padding: 0px 0px 0px 5px;
	margin: 0px;
	font-weight: bold;
}

/* END autocomplete styling */
