.hero-unit {
	background-color: #05a9fe;
	padding-bottom: 40px;
	box-shadow: 4px 4px 4px grey;
}

.register-box {
    background-color: #eef;
    border-radius: 3px 3px 3px 3px;
    line-height: 40px;
    min-height: 40px;
    text-align: center;
	padding: 15px 15px 0 15px;
	margin: 10px;
	float: right;
	width: 180px;
	box-shadow: 4px 4px 4px grey;
}

.register-box > p {
	line-height: 25px;
}

.main-logo {
	float: left;
	margin: 0px 40px 0px 30px;
}

.main-left {
	float: left;
	margin-bottom: 20px;
}
.main-right {
	float: left;
}

.main-title {
	float: left;
	margin-right: 10px;
	padding-top: 40px;
}

.main-title > h1 {
	font-size: 70px;
/*	text-shadow: 2px 2px 2px black;*/
}

.main-title > p {
	font-size: 14px;
	font-weight: bold;
}

.main-content > ul {
	margin-top: 20px;
}

.main-content > ul > li {
	font-size: 16px;
	margin-bottom: 10px;
}

.footer {
	margin: 40px 0 20px 0;
	font-size: 12px;
	text-align: center;
}

.main-content > h2 {
	margin-top: 20px;
}

