.hero-unit {
	background-color: #05a9fe;
	padding-bottom: 40px;
}


.register-box {
    background-color: #eef;
    border-radius: 3px 3px 3px 3px;
    line-height: 40px;
    min-height: 40px;
    text-align: center;
	padding: 15px 15px 0 15px;
	margin: 10px;
	float: right;
	width: 200px;
}

.register-box > p {
	line-height: 25px;
}

/*
.main-title, .main-logo {
	float: left;
}

.main-title {
	margin-right: 10px;
	padding-top: 50px;
}
*/

.main-logo {
	float: left;
	margin: 0px 40px 0px 30px;
}

.main-left {
	float: left;
	margin-bottom: 20px;
}
.main-right {
	float: left;
}

.main-title {
	float: left;
	margin-right: 10px;
	padding-top: 50px;
}

